body {
    background-color: #f4f4f4;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5em;
}

#container {
    border: 1px #ccc solid;
    padding: 0 10px 0 10px;
    width: 800px;
    margin: auto;
    overflow: auto;
}

.highlight {
    color: red;
    font-weight: bold;
    font-size: 30px;
}

.left-side {
    float: left;
    width: 50%;
}